<% @movies.each do |m| %>
  <p><%= link_to "#{m.name}", movie_path(m.id) %></p>
  <p><%= m.year %></p>
  <p><%= m.description %></p>
  <%= image_tag ("#{m.image_url}") %>
  <p>
    <% if m.is_showing == true %>
      上映中
    <% else %>
      上映予定
    <% end %>
  </p>
  <p><%= m.created_at %></p>
  <p><%= m.updated_at %></p>
<% end %>
