<table>
  <tr>
    <td>ID</td>
    <td>タイトル</td>
    <td>公開年</td>
    <td>概要</td>
    <td>画像URL</td>
    <td>上映中</td>
    <td>登録日時</td>
    <td>更新日時</td>
  </tr>
  <% @movies.each do |m| %>
    <tr>
      <td><%= m.id %></td>
      <td><%= m.name %></td>
      <td><%= m.year %></td>
      <td><%= m.description %></td>
      <td><%= image_tag "#{m.image_url}" %></td>
      <td><%= m.is_showing ? "上映予定": "上映中" %></td>
      <td><%= m.created_at %></td>
      <td><%= m.updated_at %></td>
    </tr>
  <% end %>
</table>