<h2>映画詳細</h2>

    <div class="movie_item_show">
    作品ID：
      <%= @movie.id %>
    </div>
    <div class="movie_item_show">
    映画タイトル：
      <%= @movie.name %>
    </div>
    <div class="movie_item_show">
    公開年：
      <%= @movie.year %>
    </div>
    <div class="movie_item_show">
    概要：
      <%= @movie.description %>
    </div>
    <div class="movie_item_show">
    画像：
      <%= link_to "#{@movie.image_url}", "#" %>
    </div>
    <div class="movie_item_show">
    上映中か：
      <% if @movie.is_showing == true %>
        上映中
      <% else %>
        上映予定
      <% end %>
    </div>
    <div class="movie_item_show">
    登録日時：
      <%= l @movie.created_at, format: :long %>
    </div>
    <div class="movie_item_show">
    更新日時：
      <%= l @movie.updated_at, format: :long %>
    </div>
    <div class="movie_item_show">
    上映スケジュール：
    <% if @schedules.present? %>
      <% @schedules.each do |s| %>
        <%= l s.start_time, format: :short %> ~
        <%= l s.end_time, format: :short %>
      <% end %>
    <% else %>
      上映スケジュールはありません
    <% end %>
    </div>
  </tr>

<% if @schedule.present? %>
  <%= form_with model: @reservation, url:movie_schedule_sheets_path(movie_id: @movie, schedule_id: @schedule.id), method: :get do |f| %>
    <%= f.label :date, "日付：" %>
    <%= f.select :date, [[@today,@today.to_date],
                        [@today.since(1.days),@today.since(1.days).to_date],
                        [@today.since(2.days),@today.since(2.days).to_date],
                        [@today.since(3.days),@today.since(3.days).to_date],
                        [@today.since(4.days),@today.since(4.days).to_date],
                        [@today.since(5.days),@today.since(5.days).to_date],
                        [@today.since(6.days),@today.since(6.days).to_date],
                        [@today.since(7.days),@today.since(7.days).to_date]],
                        prompt: "日付を選択してください" %>
    <%= f.label :schedule_id, "開始時刻：" %>
    <%= f.collection_select :schedule_id, @schedules, :id, :start_time, prompt: "開始時刻を選択してください" %>
    <%= f.submit "座席を予約する" %>
  <% end %>
<% end %>

<p><%= link_to "一覧にもどる", movies_path %></p>
