 <%#= render 'layouts/error_messages', model: @reservation %>
 <%= form_with model: [:admin, @reservation], url: admin_reservation_path, local: true, method: :put do |f| %>
  <div>
    <%= f.label :name, "予約者氏名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "予約者メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :name, "映画タイトル" %>
      <%= f.fields_for :movies do |movie| %>
        <%= movie.text_field :name, value: @movie.name %>
        <%= movie.hidden_field :id, value: @movie.id %>
        <%#= movie.collection_select :id, @movies, :id, :name, selected: @movie.name  %>
      <% end %>
  </div>

  <div>
    <%= f.label :start_time, "予約時間" %>
      <%= f.fields_for :schedules do |schedule| %>
        <%= schedule.text_field :start_time, value: @schedule.start_time %> ~
        <%= schedule.text_field :end_time, value: @schedule.end_time %>
      <% end %>
  </div>

  <div>
    <%= f.label :sheet_id, "座席" %>
    <%= f.fields_for :sheets do |sheet| %>
      <%= sheet.text_field :row, value: @sheet.row %> -
      <%= sheet.text_field :column, value: @sheet.column %>
    <% end %>
  </div>
  <%= f.submit "編集する" %>
<% end %>
<%= @reservation.id %>
<%= @reservation.sheet_id %>
<%= @reservation.name %>
<%= link_to "詳細に戻る",  admin_reservation_path(@reservation.id)%>
<%= link_to "削除する",  admin_reservation_path(@reservation.id), method: :delete, data: {confirm: "本当に削除しますか？" }%>
