 <h2>予約編集</h2>
 <%= form_with model: [:admin, @reservation], url: admin_reservation_path, local: true, method: :put do |f| %>
  <table class="reservation_new">
    <tr>
      <td class="cell_title">
        <%= f.label :name, "予約者氏名" %>
      </td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= f.text_field :name %>
      </td>
    </tr>

    <tr>
      <td class="cell_title">
        <%= f.label :email, "予約者メールアドレス" %>
      </td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= f.email_field :email %>
      </td>
    </tr>

    <tr>
      <td class="cell_title">
        <%= f.label :name, "映画タイトル" %>
      </td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= @movie.name %>
      </td>
    </tr>

    <tr>
      <td class="cell_title">
        <%= f.label :schedule_id, "予約時間" %>
      </td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= f.collection_select :schedule_id, @movie.schedules, :id, :start_time %>
      </td>
    </tr>

    <tr>
      <td class="cell_title">
        <%= f.label :sheet_id, "座席" %>
      </td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= f.number_field :sheet_id %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit "編集する" %></td>
    </tr>
  </table>
<% end %>

<%= link_to "詳細に戻る",  admin_reservation_path(@reservation.id)%>
<%= link_to "削除する",  admin_reservation_path(@reservation.id), method: :delete, data: {confirm: "本当に削除しますか？" }%>
