<h2>予約一覧</h2>
<%# if @reservations.present? %>
  <table>
    <tr>
      <td>ID</td>
      <td>予約者氏名</td>
      <td>メールアドレス</td>
      <td>映画タイトル</td>
      <td>予約時間</td>
      <td>スクリーン</td>
      <td>座席番号</td>
      <td>作成日時</td>
      <td>更新日時</td>
      <td></td>
    </tr>
  <% @reservations.each do |r| %>
    <tr>
      <td>
        <%= link_to "#{r.id}", admin_reservation_path(r.id) %>
      </td>
      <td>
        <%= r.name %>
      </td>
      <td>
        <%= r.email %>
      </td>
      <td>
        <%= r.schedule.movie.name %>
      </td>
      <td>
        <%= r.date %>
        <%= l r.schedule.start_time,format: :short %>
      </td>
      <td>
        １
      </td>
      <td>
        <%= r.sheet.row %> - <%= r.sheet.column %>
      </td>
      <td>
        <%= l r.created_at, format: :long %>
      </td>
      <td>
        <%= l r.updated_at, format: :long %>
      </td>
      <td>
        <%= link_to "編集", edit_admin_reservation_path(r.id) %>
        <%= link_to "削除", admin_reservation_path(r.id), method: :delete, data: {confirm: "本当に削除しますか？"}%>
      </td>
    </tr>
  <% end %>
  </table>
<%# else %>
<%= paginate @reservations %>
<%# end %>
<%= link_to "新規作成", new_admin_reservation_path %>
