<h2>予約新規作成</h2>
 <%= form_with scope: :reservation, url: admin_reservations_path do |f| %>
  <table class="reservation_new" cellpadding="15">
    <tr>
     <td class="cell_title">予約者氏名</td>
    </tr>
    <tr>
      <td><%= f.text_field :name, placeholder: "氏名を入力してください" %></td>
    </tr>
    <tr>
      <td class="cell_title">予約者Email</td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= f.email_field :email, placeholder: "メールアドレスを入力してください" %>
      </td>
    </tr>
    <tr>
      <td class="cell_title">予約映画タイトル</td>
    </tr>
    <tr>
      <td class="cell_info">
        <%= f.fields_for :schedules do |schedule| %>
          <%= schedule.collection_select :movie_id, Movie.all, :id, :name, prompt: "映画を選択してください"  %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="cell_title">予約日付</td>
    </tr>
    <tr>
      <td class="cell_info">
        <%# movies/showと重複した記述のためリファクタリング必要 %>
        <%= f.select :date, [[@today,@today],
                            [@today.since(1.days),@today.since(1.days)],
                            [@today.since(2.days),@today.since(2.days)],
                            [@today.since(3.days),@today.since(3.days)],
                            [@today.since(4.days),@today.since(4.days)],
                            [@today.since(5.days),@today.since(5.days)],
                            [@today.since(6.days),@today.since(6.days)],
                            [@today.since(7.days),@today.since(7.days)]],
                            prompt: "日付を選択してください" %>
      </td>
    </tr>
    <tr>
      <td class="cell_title">予約時間</td>
    </tr>
    <tr>
      <td class="cell_info">
          <%= f.collection_select :schedule_id, Schedule.all, :id, :start_time, prompt: "時刻を選択してください"  %>
      </td>
    </tr>
    <tr>
      <td class="cell_title">座席</td>
    </tr>
    <tr>
      <td class="cell_info">
          <%= f.collection_select :sheet_id, Sheet.all, :id, :id, prompt: "座席IDを選択してください"  %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit "予約を作成する" %>
      </td>
    </tr>
  </table>
<% end %>

<%= link_to "予約一覧へ戻る", admin_reservations_path %>
