<h2>予約詳細</h2>
<table>
  <tr>
    <td>
      予約者氏名
    </td>
    <td>
      <%= @reservation.name %>
    </td>
  </tr>
  <tr>
    <td>
      メールアドレス
    </td>
    <td>
      <%= @reservation.email %>
    </td>
  </tr>
  <tr>
    <td>
      映画タイトル
    </td>
    <td>
      <%= @movie.name %>
    </td>
  </tr>
  <tr>
    <td>
      予約時間
    </td>
    <td>
      <%= l @schedule.start_time, format: :short %> ~ <%= l @schedule.end_time, format: :short %>
    </td>
  </tr>
  <tr>
    <td>
      座席
    </td>
    <td>
      <%= @sheet.row %> - <%= @sheet.column %>
    </td>
  </tr>
</table>
<%= link_to "予約を編集する", edit_admin_reservation_path(@reservation) %>
<%= link_to "予約一覧へ戻る", admin_reservations_path %>
