<h2>座席予約ページ</h2>
<p>映画タイトル：<%= @movie.name %></p>
<p>鑑賞日：<%= @date %></p>
<p>開始時刻：<%= @schedule.start_time.strftime("%H:%M") %></p>
<p>終了時刻：<%= @schedule.end_time.strftime("%H:%M") %></p>
<h4>座席を選択してください</h4>
<h3>SCREEN</h3>
<table class="sheets_index">
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <% @sheets.each do |s| %>
      <td class="sheet_cell">
      <%= link_to  new_movie_schedule_reservation_path(date: @date, sheet_id: s.id, movie_id: @movie.id, schedule_id: @schedule.id) do %>
        <%= s.row %> - <%= s.column %>
      <% end %>
      </td>
  <% end %>
</table>

<%= link_to "映画詳細に戻る", movie_path(@schedule.movie.id) %>
