<h2>座席予約ページ</h2>
<table class="select_movie_info">
  <tr>
    <td class="cell_title">選択中の映画</td>
  </tr>
  <tr>
    <td class="cell_info"><%= @movie.name %></td>
  </tr>
  <tr>
    <td class="cell_title">選択中の日時</td>
  </tr>
  <tr>
    <td class="cell_info">
    <%= @date %>
    <%= l @schedule.start_time, format: :short %> 〜
    <%= l @schedule.end_time, format: :short %>
    </td>
  </tr>
  <tr>
    <td class="cell_title">座席の選択</td>
  </tr>
  <tr>
    <td class="cell_info">
      <div class="reserve_description_box"></div>
      <div class="reserve_description">・・・選択不可</div>
    </td>
  </tr>
</table>
<h3>SCREEN</h3>
<table class="sheets_index">
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <% @sheets.each do |s| %>
      <% if Reservation.exists?(date: @date, schedule_id: @schedule.id, sheet_id: s.id) %>
        <td class="unavailable_sheet_cell">
          <%= s.row %> - <%= s.column %>
        </td>
      <% else %>
        <td class="sheet_cell">
          <%= link_to new_movie_schedule_reservation_path(date: @date, sheet_id: s.id, movie_id: @movie.id, schedule_id: @schedule.id) do %>
            <%= s.row %> - <%= s.column %>
          <% end %>
        </td>
      <% end %>
  <% end %>
</table>

<%= link_to "映画詳細に戻る", movie_path(@schedule.movie.id) %>
