<%= @movie.name %>
<%= @date %>
<%= @schedule.start_time.strftime("%H:%M") %>
<%= @schedule.end_time.strftime("%H:%M") %>
SCREEN
<table>
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </tr>
  <% @sheets.each do |s| %>
    <tr>
      <td>
      <%= link_to  new_movie_schedule_reservation_path(date: @date, sheet_id: s.id, movie_id: @movie.id, schedule_id: @schedule.id) do %>
        <%= s.row %> - <%= s.column %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
