<%= link_to "スケジュールを追加する",  new_admin_movie_schedule_path(@movie.id) %>

<table>
  <tr>
    <th>作品ID</th>
    <th>映画タイトル</th>
    <th>開始時刻</th>
    <th>終了時刻</th>
    <th>登録日時</th>
    <th>更新日時</th>
  </tr>
  <% @schedules.each do |s| %>
    <tr>
      <td><%= s.movie.id %></td>
      <td><%= s.movie.name %></td>
      <td><%= link_to  "#{s.start_time}", admin_schedule_path(s.id) %></td>
      <td><%= link_to  "#{s.end_time}", admin_schedule_path(s.id) %></td>
      <td><%= s.created_at %></td>
      <td><%= s.updated_at %></td>
      <td><%= link_to "編集する",  edit_admin_schedule_path(s.id) %></td>
    </tr>
  <% end %>
</table>
