<%= @movie.id %>
<%= @movie.name %>
<%= link_to "追加する",  new_admin_movie_schedule_path(@movie.id) %>


<table>
  <tr>
    <th>開始時刻</th>
    <th>終了時刻</th>
  </tr>
  <% @schedules.each do |s| %>
    <tr>
      <td><%= s.start_time %></td>
      <td><%= s.end_time %></td>
      <td><%= link_to "編集する",  edit_admin_schedule_path(s.id) %></td>
    </tr>
  <% end %>
</table>
