ご予約ページ
<%= form_with url: movie_schedule_reservations_path(@movie.id, @schedule.id) do |f| %>
  <%= f.hidden_field :date, value: @date %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>
  <%= f.hidden_field :sheet_id, value: @sheet.id %>
  <table>
    <tr>
      <th>映画タイトル</th>
      <th>選択中の日時</th>
      <th>選択中の座席</th>
      <th>氏名</th>
      <th>メールアドレス</th>
    </tr>
    <tr>
      <td><%= @movie.name %></td>
      <td>
        <%= @date %>
        <%= @schedule.start_time.strftime("%H:%M") %>
        <%= @schedule.end_time.strftime("%H:%M") %>
      </td>
      <td>
        <%= @sheet.row %> - <%= @sheet.column %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
      <td>
        <%= f.email_field :email %>
      </td>
    </tr>
  </table>
  <%= f.submit "予約する" %>
<% end %>
