<%= form_with scope: :schedule, url: admin_schedules_path do |f| %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <table>
    <tr>
      <th>作品ID</th>
      <th>映画タイトル</th>
      <th>開始時刻</th>
      <th>終了時刻</th>
    </tr>
    <tr>
      <td><%= @movie.id %></td>
      <td><%= @movie.name %></td>
      <td><%= f.text_field :start_time %></td>
      <td><%= f.text_field :end_time %></td>
    </tr>
  </table>
  <%= f.submit "登録する" %>
<% end %>
